canvas
{
    border: 0.3px solid black;
}
#turnLeft
{
    position: relative;
    left:100px;
}
#turnRight
{
    position: relative;
    left:190px;
}
.wyborIlosciGraczy
{
    position: absolute;
    left:500px;
    top:400px;
}